* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(0deg, rgb(89, 89, 180) 0%, rgba(10,10,125,1) 29%, rgba(33,33,75,1) 52%);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #5a5858;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #5a5858;
    margin-bottom: 20px;
}


